@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Notosans', sans-serif;
    /* padding: 0px 50px; */
    /* background-color: #0a68ff; */
    background-color: #fff;
    height: 1200px;
}

.container {
    
}

.navbar {
    position: fixed;
}

.box {
    background-color: #fff;
    border-radius: 12px;
    padding: 0px 80px;
    color: #38383d;
    margin-top: 40px;
    min-width: 232px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.upload, .download {
    border: 0px;
    padding: 10px 30px;
    font-family: 'Notosans', sans-serif;
    color: white;
    background-color: #0a68ff;
    font-weight: 700;
    width: 150px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.download {
    margin-top: 40px;
    margin-bottom: 0px;
}

.upload:active, .download:active {
    cursor: unset;
}

.button-box {
    display: inline-block;
}

.metadata {
    display: inline;
    margin-left: 10px;
}

.metadata li {
    display: inline-block;
    font-weight: 700;
    width: fit-content;  
    padding: 5%;
}

.metadata li span {
    position: relative;
    top: 5px;
    display: inline-block;
    font-weight: 400;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* .metadata li:hover span {
    white-space: normal;
    width: 100%;

} */

.input-value {
    width: calc(100% + 14px);
    -webkit-appearance: none;
    border: none ;
    outline: none;
    /* background-color: #0a68ff; */
    background-color: #e9ecef;
    margin-left: -7px;
}

.input-value::-webkit-slider-runnable-track {
    height: 6px;
}

.track {
     height: 6px;
     /* width:  100%;
     background-color: #448cff;
     position: relative; */
     top: 18px;
     /* z-index: 1; */
}

.input-value::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    background-color: #0a68ff;
    border: 2px solid white;
    height: 22px;
    width: 22px;
    margin-top: -7px;
    position: relative;
    z-index: 2;
}



.preview-container {
    width: calc(100% - 872px);
    position: relative;
    margin: auto auto;
    margin-top: 60px;
    font-weight: 700px;
}

#slider-input {
    width: calc(100% + 40px);
    position: absolute;
    left: -21px;
    top: -6px;
    -webkit-appearance: none;
    outline: none;
}

#slider-input::-webkit-slider-runnable-track {
    height: 0px;   
}

#slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0a68ff;
}

.compressed, .original {
    position: absolute ;
    top: -25px;
    margin-left: 10px;
    color: #0a68ff;
}

.original {
    right: 10px;
}

.top {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    width: 50%;
    height: 620px;
    border-right: 2px solid white;
}

.top img {
    min-width: 931px;
}

.bottom {
    width: 100%;
    height: 100%;
}

.bottom img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.output, 
.progress,
.preview-container,
.progress-container {
    display: none;
}

.progress {
    padding: 10px;
    height: 27px !important;
}

.progress-container {
    padding: 14px;
}

.showprogress {
    margin-top: 20px;
}

